doctype 5
html
  head
    title= title
    link(rel= "stylesheet", href= "/stylesheets/style.css")

    script(src= "/javascripts/jquery.js")
    script(src= "/javascripts/jquery-ui.js")

    script(src= "/ace/ace.js")
    script(src= "/ace/mode-javascript.js")

    script(src= "/javascripts/bcsocket.js")

    script(src= "/share/share.js")
    script(src= "/share/ace.js")
    //script(src= "/javascripts/live.js")
  body
    block content

    script(src= "/javascripts/login.js")
    //script(src= "/javascripts/consoul.js")
