extends layout

block content
  button(id= 'button', type= 'button') Click
  button(id= 'button2', type= 'button') Click
  button(id= 'button3', type= 'button') Click
  div#code-zone
    div#editor
    div#output